@import '../../share/css/_loader.scss';
.pictures-body {
    position: relative;
    width: 1380px;
    margin: auto;
    .pictures-title {
        font-size: 24px;
        margin-bottom: 30px;
        color: #FCCB35;
    }
    .picture-list {
        position: relative;
        width: 1280px;
        margin: auto;
        .photo-item {
            width: 240px;
            height: 200px;
            margin-right: 20px;
            cursor: zoom-in;
            transition: all 0.2s cubic-bezier(.42, 0, .58, 1);
            &:last-child {
                margin-right: 0;
            }
            &:hover{
                box-shadow: 0 0 10px lightblue;
                @include _transform(scale3d(1.1,1.1,1));
            }
        }
    }
    .big-poster-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 15;
        .show-part {
            top: calc((100% - 500px) / 2);
            left: calc((100% - 1000px) / 2);
            position: relative;
            width: 1000px;
            height: 500px;
            filter: drop-shadow(4px 4px 5px red) drop-shadow(-4px -4px 5px red);
            .big-poster {
                position: relative;
                width: 100%;
                height: 100%;
            }
            .close-icon {
                position: absolute;
                top: -30px;
                right: -30px;
                font-size: 24px;
                cursor: pointer;
            }
            .left-arrow {
                position: absolute;
                font-size: 24px;
                top: calc((100% - 24px) / 2);
                left: 10px;
                cursor: pointer;
                z-index: 1;
            }
            .right-arrow {
                position: absolute;
                font-size: 24px;
                top: calc((100% - 24px) / 2);
                right: 10px;
                cursor: pointer;
                z-index: 1;
            }
        }
        .other-part {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
 
@media screen and(max-width:1440px) {
    .pictures-body {width: 980px;}
    .pictures-body .picture-list {width: 880px;}
    .pictures-body .picture-list .photo-item {width: 160px; height: 150px;}
}