<div class="pictures-body">
    <div class="pictures-title">{{'stage_photo' | translate}}</div>
    <div class="picture-list">
      <img class="photo-item" src="{{photo}}" *ngFor="let photo of photoList;let i = index;" (click)="showBigPhoto(i)">
    </div>
    <div class="big-poster-wrap" [@fadeInOut]="state" (@fadeInOut.done)="fadeInOutDone($event)" [style.display]="isShowBigPhoto ? 'block': 'none'" *ngIf="photoList?.length > 0">
      <div class="other-part" (click)="hideBigPhoto()"></div>
      <div class="show-part">
          <i class="anticon anticon-left-circle-o left-arrow" (click)="clickLeft()"></i>
          <img class="big-poster" src="{{photoList[curIndex]}}">
          <i class="anticon anticon-right-circle-o right-arrow" (click)="clickRight()"></i>
          <i class="anticon anticon-close-circle-o close-icon" (click)="hideBigPhoto()"></i>
      </div>
    </div>
</div>