@import 'src/app/share/css/_loader.scss';
p {
    color: white;
    width: rem(1380);
    margin: auto;
    text-indent: rem(16);
}
 
@media screen and(max-width:rem(1440)) {
    p {width: rem(980);}
}