@import 'src/app/share/css/_loader.scss';
p {
    color: white;
    width: 1380px;
    margin: auto;
    text-indent: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
 
@media screen and(max-width:1440px) {
    p {width: 980px;}
}