@import 'src/app/share/css/_loader.scss';
.login-wrap {
    top: rem(180);
    position: relative;
    display: block;
    width: rem(400);
    margin: auto;
    .name-wrap {
        height: rem(30);
        line-height: rem(30);
    }
    .password-wrap {
        margin-top: rem(30);
        height: rem(30);
        line-height: rem(30);
    }
    .login-button {
        margin-top: rem(30);
        background: lightskyblue;
        width: rem(80);
        text-align: center;
        border-radius: rem(4);
        cursor: pointer;
    }
    .error-info {
        color: red;
        font-size: rem(14);
        margin-top: rem(10);
    }
}
 
.hint-span {
    float: left;
    margin-right: rem(10);
}
.input {
    color: black;
}