.detail-body .player-part .video-wrap .video-control .volume-bar-container .volume-bar {top: 4px !important;}
.detail-body .player-part .video-wrap-fullscreen .video-control .volume-bar-container .volume-bar {top: 4px !important;}
.detail-body .player-part .progress-wrap .m_progress-bar {height: 6px; top: 2px;}