@import 'src/app/share/css/_loader.scss';

// global css here.
* {
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvet-Tica, sans-serif;
    background: $main-bgc;
}
button, input {
    padding: 0;
    margin: 0;
}
img {
    @include cant-select;
    -webkit-user-drag: none;
    box-sizing: border-box;
}
a {
    -webkit-user-drag: none;
}
.cant-select {
    @include cant-select;
}

// css for AppComponent

header {
    height: rem(80);
    width: 100%;
    min-width: rem(1500);
    position: fixed;
    top: 0;
    z-index: 10;
    background: $nav-bgc;
}
.scroll-header {
    background: $scroll-nav-bgc;
}
.miniScreen-header {
    position: absolute;
}
nav {
    position: relative;
    top: rem(30);
    width: rem(1380);
    margin: auto;
}
.head-href {
    margin-left: rem(40);
    cursor: pointer;
    text-decoration: none;
    color: lightblue;
    transition: background 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), border-radius 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: rem(0 5);
    display: inline-block;
    text-align: center;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        color: white;
        background: #2098D1;
        border-radius: rem(4);
    }
}
.href-active {
    color: red;
    &:hover {
        color: red;
    }
}
.language-wrap {
    position: relative;
    float: right;
    top: rem(0);
    width: rem(80);
    text-align: center;
    .lang-set {
        color: lightblue;
        width: 100%;
        transition: background 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), border-radius 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        .bottom-triangle {
            width: rem(0);
            height: rem(0);
            border: rem(10) solid;
            position: absolute;
            left: rem(30);
            border-color: transparent;
            transition: border-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    .lang-ul {
        margin: rem(10) 0 0 0;
        padding: 0;
        background: rgba(31, 31, 31, 0.95);
        border-radius: rem(3);
        .lang-li {
            list-style: none;
            padding-bottom: rem(5);
            cursor: pointer;
        }
    }
    &:hover {
        .lang-set {
            color: white;
            background: #2098D1;
            border-radius: rem(4);
            .bottom-triangle {
                border-color: #2098D1 transparent transparent transparent;
            }
        }
    }
}
.user-nav {
    float: right;
    margin-right: rem(40);
    .name {
        color: #9fa7a9;
        cursor: pointer;
        &:hover{
            color: white;
        }
    }
}
main {
    overflow: hidden;
    min-height: rem(1100);
    min-width: rem(1500);
    .goto-top {
        position: fixed;
        z-index: 20;
        width: rem(80);
        height: rem(80);
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        bottom: rem(80);
        background: rgba(245, 245, 245, 0.6);
        text-align: center;
        font-size: rem(32);
        line-height: rem(80);
        color: lightblue;
        cursor: pointer;
    }
}
footer {
    position: relative;
    height: rem(80);
    min-width: rem(1500);
    background: #020202;
    .foot-info {
        width: rem(1380);
        margin: auto;
        text-align: right;
        color: white;
        line-height: rem(80);
    }
}
 
@media screen and(max-width: rem(1440)) {
    header,main,footer {min-width: rem(1100);}
    nav {width: rem(980);}
    footer .foot-info {width: rem(980);}
}