@import 'src/app/share/css/_loader.scss';

// global css here.
* {
    color: white;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Helvet-Tica, sans-serif;
    background: $main-bgc;
}
app-root {
    position: relative;
    display: block;
}
button, input {
    padding: 0;
    margin: 0;
}
img {
    @include _cant-select;
    -webkit-user-drag: none;
    box-sizing: border-box;
}
a {
    -webkit-user-drag: none;
}
.cant-select {
    @include _cant-select;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
    color: black;
}

// css for AppComponent
section {
    position: relative;
    display: block;
    min-height: 1500px;
    .goto-top {
        position: fixed;
        z-index: 20;
        border-radius: 50%;
        left: 50%;
        @include _transform(translateX(-50%));
        bottom: 80px;
        width: 60px;
        height: 60px;
        font-size: 60px;
        color: rgba(245, 245, 245, 0.6);
        cursor: pointer;
    }
}
footer {
    position: relative;
    height: 80px;
    min-width: 1500px;
    background: #020202;
    .foot-info {
        width: 1380px;
        margin: auto;
        text-align: right;
        color: white;
        line-height: 80px;
    }
}
header {
    height: 80px;
    width: 100%;
    min-width: 1500px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $nav-bgc;
}
.scroll-header {
    background: $scroll-nav-bgc;
}
.miniScreen-header {
    position: absolute;
}
nav {
    position: relative;
    width: 1380px;
    top: 30px;
    margin: auto;
}
.head-href {
    margin-left: 40px;
    cursor: pointer;
    text-decoration: none;
    color: lightblue;
    transition: background 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), border-radius 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: inline-block;
    text-align: center;
    font-size: 14px;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        color: white;
        background: #2098D1;
        border-radius: 4px;
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
.href-active {
    color: red;
    &:hover {
        color: red;
    }
}
.language-wrap {
    position: relative;
    float: right;
    top: 0px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    .lang-set {
        color: lightblue;
        width: 100%;
        transition: background 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95), border-radius 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        .bottom-triangle {
            width: 0px;
            height: 0px;
            border: 10px solid;
            position: absolute;
            left: 30px;
            border-color: transparent;
            transition: border-color 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        }
    }
    .lang-ul {
        margin: 10px 0 0 0;
        padding: 0;
        background: rgba(31, 31, 31, 0.95);
        border-radius: 3px;
        .lang-li {
            list-style: none;
            padding-bottom: 5px;
            cursor: pointer;
        }
    }
    &:hover {
        .lang-set {
            color: white;
            background: #2098D1;
            border-radius: 4px;
            .bottom-triangle {
                border-color: #2098D1 transparent transparent transparent;
            }
        }
    }
}
.user-nav {
    float: right;
    margin-right: 40px;
    .name {
        color: #9fa7a9;
        cursor: pointer;
        font-size: 14px;
        &:hover{
            color: white;
        }
    }
}

.logout-btn {
    color: #5252aa;
}

.search-container {
    width: 200px;
    position: absolute;
    top: 0;
    left: 280px;
    border-radius: 20px;
    .search-icon {
        position: absolute;
        top: 2px;
        right: 0;
        font-size: 24px;
        cursor: pointer;
    }
    .ant-input {
        border-radius: 20px !important;
        border: 1px solid #fccb35 !important;
        padding: 4px 24px 4px 7px !important;
        font-size: 14px !important;
    }
    
    .anticon-search:before {
        color: black;
    }
}

@media screen and(max-width: 1440px) {
    header,section,footer {min-width: 1100px;}
    nav {width: 980px;}
    footer .foot-info {width: 980px;}
}

/*xs 超小设备（手机，小于 768px）*/
@media screen and(max-width: 767px) {
 
}
/*sm 小型设备（平板电脑，768px 起）*/
@media screen and(min-width: 768px) and(max-width: 991px) {
    
}
/*md 中型设备（台式电脑，992px 起）*/
@media screen and(min-width: 992px) and(max-width: 1199px) {
    
}
/*lg 大型设备（大台式电脑，1200px 起）*/
@media screen and(min-width: 1200px){
    
}