@import 'src/app/share/css/_loader.scss';
.preview-wrap {
    position: relative;
    width: rem(1100);
    .image-wrap {
        width: 100%;
        height: rem(120);
        overflow: hidden;
        position: relative;
        .image-list {
            position: relative;
            height: 100%;
            left: rem(0);
            bottom: rem(0);
            .image-item {
                width: rem(160);
                height: rem(100);
                display: inline-block;
                margin-right: rem(2);
                bottom: rem(0);
                position: relative;
                &:last-child {
                    margin-right: rem(0);
                }
            }
            .big-image {
                width: rem(196);
                height: rem(116);
                border: rem(2) solid white;
            }
        }
    }
    .seekbar {
        width: 100%;
        height: rem(6);
        background: #FCCB35;
        cursor: pointer;
        margin-top: rem(5);
    }
}