<div class="slide-body">
    <div class="nav-cover" (click)="goToVodDetail()"></div>
    <img class="big-poster" src="{{showList[currentItemIndex]?.url}}">
    <div class="vod-info">
        <div class="vod-name">{{showList[currentItemIndex]?.name}}</div>
        <div class="vod-introduce">{{showList[currentItemIndex]?.introduce}}</div>
    </div>
    <div class="slide-part">
        <i class="anticon anticon-up top-arrow" (click)="upArrow()" [style.display]="dataLength > oneGroupNum ? 'block': 'none'"></i>
        <div class="slide-wrap">
        <div #slideListElement class="slide-list">
            <div id="slide-{{i}}" [ngClass]="currentItemIndex == i ? 'slide-item select-item' : 'slide-item'" *ngFor="let picture of showList; let i = index;">
                <img class="small-poster" src="{{picture.url}}" (click)="selectItem(i)">
            </div>
        </div>
        </div>
        <i class="anticon anticon-down bottom-arrow" (click)="downArrow()" [style.display]="dataLength > oneGroupNum ? 'block': 'none'"></i>
    </div>
</div>