<div class="detail-body">
    <div class="page-background">
      <img class="big-img" src="{{backImgUrl}}">
      <img class="cover-img" src="{{coverImgUrl}}">
    </div>
    <div class="hint">{{'is_detail_page' | translate}}</div>
    <div class="vod-title">{{vodData?.name}}</div>
    <div class="player-part">
      <div #videoParent [ngClass]="isFullScreen ? 'video-wrap-fullscreen': 'video-wrap'" [class.fixed-wrap]="isShowMiniVideo && !isFullScreen">
        <video #video autoplay src="{{vodData?.playUrl}}" (dblclick)="fullScreenControl()"></video>
        <div class="video-cover" *ngIf="isLoading || isPlayEnd">
          <i class="anticon anticon-loading-3-quarters loading-icon" *ngIf="isLoading"></i>
        </div>
        <i id="close-mini" class="anticon anticon-close close-video" (click)="closeMini()" *ngIf="isShowMiniVideo && !isFullScreen"></i>
        <div #barWrapRef class="progress-wrap" (mouseleave)="hidePreview()" [ngStyle]="{'visibility':isPlayEnd?'hidden':'visible','display':isShowMiniVideo && !isFullScreen?'none':'block'}">
          <div class="image-wrap">
            <div #listRef class="image-list" [ngStyle]="{visibility:showPreviewList?'visible':'hidden'}">
              <div class="image-item" [ngClass]="{'big-image':i===curIndex}" [ngStyle]="{background: back}" *ngFor="let back of previewBackgrounds;let i = index;" (mouseenter)="enterItem(i)"></div>
            </div>
          </div>
          <input #progressBar class="progress-bar" type="range" value="{{currentTime}}" min="0" max="{{duration}}" step="1" (input)="progressChange($event)" (mouseenter)="showPreview()" (mousemove)="mousemoveSeekbar($event)">
        </div>
        <div class="video-control" [style.display]="isShowMiniVideo && !isFullScreen ? 'none' : 'block'">
          <i class="anticon play-pause" [ngClass]="playbuttonState" (click)="playOrPause()"></i>
          <span class="video-time">{{currentShowTime}}&nbsp;/&nbsp;{{currentShowDuration}}</span>
          <i class="anticon control-screen" [ngClass]="fullScreenState" (click)="fullScreenControl()"></i>
          <span class="control-volume cant-select" (click)="setMuted()">{{'muted_switch' | translate}}</span>
          <input #volumeBar class="volume-bar" type="range" min="0" max="100" step="1" (input)="volumeChange($event)" (change)="volumeChange($event)">
          <span class="set-volume-hint">{{'set_volume' | translate}}</span>
        </div>
      </div>
    </div>
    <app-introduce [introduce]="vodData?.introduce"></app-introduce>
    <app-pictures [stills]="vodData?.stills"></app-pictures>
    <app-posters [columnData]="recmColumns"></app-posters>
  </div>