@import 'src/app/share/css/_loader.scss';
app-test-animation, app-test-scroll, app-test-preview, app-highlight, app-test-directive, app-test-pipe, app-test-host {
    position: relative;
    margin: auto;
    display: block;
}
app-test-animation {
    margin-top: rem(80);
    width: rem(1380);
}
app-test-scroll {
    margin-top: rem(40);
    width: rem(1380);
}
app-test-preview {
    margin-top: rem(40);
    width: rem(1380);
}
app-highlight {
    margin-top: rem(40);
    width: rem(1380);
}
app-test-directive {
    margin-top: rem(40);
    width: rem(1380);
}
app-test-pipe {
    margin-top: rem(40);
    width: rem(1380);
}
app-test-host {
    margin-top: rem(40);
    width: rem(1380);
}