@import 'src/app/share/css/_loader.scss';
app-slide, app-posters {
    display: block;
    margin: auto;
    margin-bottom: rem(40);
    position: relative;
}
app-slide {
    height: rem(760);
    width: 100%;
}
 
app-posters {
    width: rem(1468);
}
 
@media screen and(max-width: rem(1440)) {
    app-posters {width: rem(1068);}
    app-slide {height: rem(600);}
}